---
import Link from "../components/Link.astro";
import Section from "../components/Section.astro";
import { Config } from "../Config";
import DefaultLayout from "../layouts/Default.astro";

const title = "Erreur interne du serveur";
---

<DefaultLayout siteTitle={Config.site.title} pageTitle={title}>
  <Fragment slot="description">
    Une erreur interne est survenue
  </Fragment>
  <Section>
    <p>Oups&nbsp;! Tes dés sont tombés de la table.</p>
    <p>
      Tu peux retourner à la <Link href="/">case de départ</Link> ou consulter le menu de
      navigation pour trouver ce que tu cherches.
    </p>
  </Section>
</DefaultLayout>
