---
import Agenda from "../components/_/Agenda.astro";
import JoinUs from "../components/_/JoinUs.astro";
import Presentation from "../components/_/Presentation.astro";
import ImageWithCredits from "../components/ImageWithCredits.astro";
import Section from "../components/Section.astro";
import DefaultLayout from "../layouts/Default.astro";

const page = "L'association";
const description =
  "Les Aventuriers du Dé est une association de jeux de société, jeux de cartes " +
  "et jeux de rôle à Mérignac. Venez découvrir nos soirées ludiques.";
---

<DefaultLayout pageTitle={page} pageDescription={description}>
  <!-- header -->
  <p slot="description">
    Association de jeux de société, jeux de cartes et jeux de rôles à Mérignac.
    Rejoignez-nous&nbsp;!
    <!-- Rejoignez-nous, la première séance est offerte&nbsp;! -->
  </p>
  <Fragment  slot="illustration">
    <ImageWithCredits
      src="robert-coelho-laNNTAth9vs-unsplash.webp"
      alt="Dés colorés et pions en bois disposés sur un plateau de jeu de société illustré"
      loading="eager"
      creditsKey="accueil"
    />
  </Fragment>
  <!-- <Link href="/login" slot="secondary-menu">Se connecter</Link> -->

  <Section>
    <!-- Left column -->
    <Presentation />
    <JoinUs />
    <!-- Right column -->
    <Fragment slot="aside">
      <Agenda />
    </Fragment>
  </Section>
</DefaultLayout>
