---
import Card from "../Card.astro";
---

<Card compact id="agenda">
  <Fragment slot="title"> <span aria-hidden="true">📆</span> Agenda </Fragment>
  <!-- <p class="planning-vide">Prochaines soirées en cours de planification.</p> -->
  <p>Le dernier dimanche de chaque mois.</p>
  <p><em>Sauf vacances scolaires.</em></p>
</Card>
