---
import { creditFor } from "../../utils";
import Card from "../Card.astro";
import Link from "../Link.astro";

const credits = creditFor("rejoindre");
---

<Card id="rejoindre">
  <Fragment slot="tags">Entraide et accueil</Fragment>
  <Fragment slot="title">Rejoins-nous&nbsp;!</Fragment>
  <Fragment slot="illustration">
    <img
      src="/christopher-paul-high-fwRMK19zavc-unsplash.webp"
      alt="Trois pions de jeu (Meeple) en bois rouge, bleu et jaune alignés sur un plateau de jeu de société"
      loading="lazy"
      data-credit-author={credits?.author}
      data-credit-source={credits?.source}
      data-credit-license={credits?.license}
      data-credit-url={credits?.sourceUrl}
    />
  </Fragment>
  <p>
    Tu es curieux, débutant ou joueur confirmé&nbsp;? Tout le monde est bienvenu
    chez Les Aventuriers du Dé&nbsp;! Viens simplement avec l'envie de
    jouer&nbsp;: on s'occupe du reste&nbsp;; entre choix des jeux, explication
    des règles et présentation par nos membres.
  </p>
  <p>
    Nos séances ont lieu le dernier dimanche de chaque mois à Mérignac (33700).
    Pour les non-adhérents, chaque séance est accessible moyennant un droit
    d'entrée.
  </p>
  <p>
    <strong>Une question&nbsp;?</strong> Écris-nous via notre <Link
      href="/contact"
    >
      formulaire de contact
    </Link>, ou passe directement lors d'une prochaine séance&nbsp;!
  </p>
</Card>
