---
import FooterCard from "../FooterCard.astro";
import { isEnabled } from "../../config/features";
---

<FooterCard>
  <p><strong>Navigation</strong></p>
  <ul>
    {
      isEnabled("pages", "blog") && (
        <li>
          <a href="/blog">Actualités</a>
        </li>
      )
    }
    {
      isEnabled("pages", "events") && (
        <li>
          <a href="/événements">Événements</a>
        </li>
      )
    }
    {
      isEnabled("pages", "games") && (
        <li>
          <a href="/ludothèque">Ludothèque</a>
        </li>
      )
    }
    <li><a href="/contact">Contact</a></li>
  </ul>
</FooterCard>

<style>
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
</style>
