---
type Props = {
  compact?: boolean;
  id: string;
};
const { id, compact = false } = Astro.props;
---

<section
  class:list={["card", compact ? "card--compact" : ""]}
  {id}
  aria-labelledby={`card-title-${id}`}
>
  {
    !compact && (
      <picture class="card__illustration">
        <slot name="illustration" />
      </picture>
    )
  }
  <div class="card__content">
    {
      Astro.slots.tags && (
        <span class="card__tags">
          <slot name="tags" />
        </span>
      )
    }
    <h2 class="card__title" id={`card-title-${id}`}>
      <slot name="title" />
    </h2>
    <slot />
  </div>
</section>
