---

---

<footer class="footer" id="pied-de-page" >
  <!-- transition:name="footer" -->
  <div class="footer__content">
    <div class="footer__cards">
      <slot />
    </div>
    <div class="footer__copyright">
      <slot name="copyright" />
    </div>
    <nav class="footer__menu">
      <slot name="menu" />
    </nav>
  </div>
</footer>
