---
import Link from "./Link.astro";
---

<header class="header" id="header" transition:name="header">
  <div class="header__content">
    <div class="header__brand">
      <Link href="/">
        <div class="header__logo">
          <slot name="logo">
            <img src="/logo.webp" alt="Logo" width="128" height="128" />
          </slot>
        </div>
        <div class="header__title">
          <p class="header__title-text">
            <slot name="title" />
          </p>
          <p class="header__title-tagline">
            <slot name="tagline" />
          </p>
        </div>
      </Link>
      <div class="header__tools">
        <div class="header__main-tools">
          <slot name="main-tools" />
        </div>
        <div class="header__secondary-tools">
          <slot name="secondary-tools" />
        </div>
        <button
          id="main-menu-button"
          popovertarget="main-menu-dialog"
          command="show-modal"
          commandfor="main-menu-dialog"
          aria-label="Ouvrir le menu principal"
          aria-controls="main-menu-dialog"
          aria-expanded="false">Menu</button
        >
      </div>
    </div>
  </div>
  <dialog class="header__floating-menu" id="main-menu-dialog" aria-open="false">
    <button
      aria-label="Fermer le menu principal"
      id="main-menu-close-button"
      popovertarget="main-menu-dialog"
      command="close"
      commandfor="main-menu-dialog"
    >
      Fermer
    </button>
    <div class="header__floating-menu-tools">
      <slot name="secondary-tools" />
    </div>
    <nav class="header__menu">
      <slot name="before-menu" />
      <slot name="menu" />
      <slot name="after-menu" />
    </nav>
  </dialog>
</header>
