---
type Props = {
  mode: "banner" | "compact" | "full";
  illustrationUrl?: string;
};
const { mode, illustrationUrl } = Astro.props;
const illustrationElement = await Astro.slots.render("illustration");
---

<section class:list={["hero", `hero--${mode}`]} >
  <!-- transition:name="hero" -->
  <div class="hero__content">
    {
      Astro.slots.top && (
        <div class="hero__top">
          <slot name="top" />
        </div>
      )
    }
    <h1 class="hero__title">
      <slot name="title"> Titre de la page </slot>
    </h1>
    {
      Astro.slots.description && (
        <div class="hero__description">
          <slot name="description" />
        </div>
      )
    }
    {
      Astro.slots.actions && (
        <div class="hero__actions">
          <slot name="actions" />
        </div>
      )
    }
    {
      (illustrationUrl || illustrationElement.trim()) && (
        <picture class="hero__illustration">
          {/* <slot name="illustration"> */}
            {illustrationUrl && <img src={illustrationUrl} alt="" />}
            <Fragment set:html={illustrationElement}></Fragment>
          {/* </slot> */}
        </picture>
      )
    }
  </div>
</section>
