---
const { href, current } = Astro.props;
---

<li class="menu__item">
  <a {href} aria-current={current ? "page" : undefined}>
    <slot />
  </a>
</li>

<style lang="scss">
  .menu__item {
    cursor: pointer;
    display: inline-block;
    margin: 0;
    padding: 0;

    a {
      padding: 1rem 0.75rem;
      text-decoration: none;
    }

    &:hover {
      background: rgba(0, 0, 0, 0.5);
    }
  }
</style>
