---
type Props = {
  width?: "wide" | "narrow";
};
const { width } = Astro.props;
---

<section class:list={["section", width ? `section--${width}` : undefined]}>
  <div class="section__content">
    <div class="section__content-inner">
      <slot />
    </div>
    {
      Astro.slots.aside && (
        <aside class="section__aside">
          <slot name="aside" />
        </aside>
      )
    }
  </div>
</section>
