---
  type Props = {
  headings: { depth: number; slug: string; text: string }[];
  maxDepth?: number;
};
const { headings, maxDepth = 3 } = Astro.props;
const items = headings.filter((h) => h.depth <= maxDepth);
---

<nav class="toc" aria-label="Sommaire de la page">
  <button class="toc__title" command="toggle-popover" commandfor="toc-content">
    Sommaire
    <!-- Replace with current section/paragraph -->
  </button>
  <div class="toc__content" id="toc-content" popover="manual">
    <button
      class="toc__title"
      command="toggle-popover"
      commandfor="toc-content"
    >
      Sommaire
      <!-- Replace with current section/paragraph -->
    </button>
    <menu class="toc__menu">
      {
        items.map((h) => (
          <li>
            <a href={`#${h.slug}`} class="toc__link" data-toc-link={h.slug}>
              {h.text}
            </a>
          </li>
        ))
      }
    </menu>
  </div>
</nav>

<style lang="scss">
  @use "../responsive" as *;
  menu,
  li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  a {
    text-decoration: none;
  }
  .toc {
    position: sticky;
    top: 142px; // Hauteur du header "non*réduit" en bureau

    @supports (animation-timeline: scroll()) {
      top: 100px; // Hauteur du header "réduit" en bureau
    }
  }
  .toc__title {
    background-color: var(--background-default-grey);
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid #313131;
    border-top: 1px solid #313131;
    font-size: 1.125rem;
    height: 3rem;
    line-height: 1;
    margin: 0 -1rem;
    padding: 0 1rem;
    text-align: left;
    width: calc(min(100%, 100dvw) + 2rem);
    @include from(md) {
      border: 0;
      pointer-events: none;
      .toc > & {
        display: none;
      }
    }
  }
  .toc__content {
    border: none;
    height: 100%;
    margin: 0;
    max-height: 100%;
    max-width: 100%;
    padding: 0 1rem;
    width: 100%;
    @include from(md) {
      display: block;
      position: relative;
      width: 100%;
    }
  }
</style>
