---
type Props = {
  headings: { depth: number; slug: string; text: string }[];
  maxDepth?: number;
};
const { headings, maxDepth = 3 } = Astro.props;
const items = headings.filter((h) => h.depth <= maxDepth);
---

<nav class="toc" aria-label="Sommaire de la page">
  <button class="toc__title" command="toggle-popover" commandfor="toc-content">
    Sommaire
    <!-- Replace with current section/paragraph -->
  </button>
  <div class="toc__content" id="toc-content" popover="manual">
    <button
      class="toc__title"
      command="toggle-popover"
      commandfor="toc-content"
    >
      Sommaire
      <!-- Replace with current section/paragraph -->
    </button>
    <menu class="toc__menu">
      {
        items.map((h) => (
          <li>
            <a href={`#${h.slug}`} class="toc__link" data-toc-link={h.slug}>
              {h.text}
            </a>
          </li>
        ))
      }
    </menu>
  </div>
</nav>
